$bgColor:var(--backgroundColor,rgb(255,255,255));
$textColor:var(--textColor,rgb(0,0,0));
$borderColor:var(--borderColor,#f6f6f6);
//左侧导航
$leftMenuBgColor:var(--left-menu-bg-color,#20222a);
$leftBorderColor:var(--left-border-color,rgba(0,0,0,0.15));
//主题猫颜色
$catGrayColor:var(--color-cat-gray,#d1d5da);
$catRedColor:var(--color-cat-red,#da3633);
$catOrangeColor:var(--color-cat-orange,#f0883e);
$catPurpleColor:var(--color-cat-purple,#8957e5);
$catGreenColor:var(--color-cat-green,#3fb950);
$catBlueColor:var(--color-cat-blue,#388bfd);
// $borderColor:var(--borderColor,rgb(238,238,238));
// $tablesColor:var(--tablesColor,rgb(255,255,255));
// $inputColor:var(--inputColor,rgb(255,255,255))